extends layout

block content
    h1= title

    form(method="POST", action="/products/add")
        .form-group
            label Name:
            input.form-control(type="text", name="title")
        .form-group
            label Price:
            input.form-control(type="text", name="body")

        .form-group
            label IMG:
            input.form-control(type="text", name="body")


        input.btn-primary(type="submit", value="Submit")

